* {
    margin: 0;
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    background-color: black;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: 70px 1fr auto;
    gap: 10px;
    padding: 10px;
    font-size: 12px;
}
  
header {
    border: 2px solid green;
    color: green;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
  
nav {
    width: 70%;
    border: 2px solid yellow;
    color: yellow;
    padding: 10px;
    align-self: center;
}
  
main {
    border: 2px solid green;
    color: green;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 30%;
    gap: 10px;
}
  
.conteudo-principal {
    display: grid;
    grid-template-rows: 20px auto 100px;
    gap: 10px;
}
  
section {
    border: 2px solid yellow;
    color: yellow;
    padding: 10px;
}
  
article {
    border: 2px solid blue;
    color: blue;
    padding: 10px;
    height: 70px;
    margin-top: 5px;
}
  
aside {
    border: 2px solid yellow;
    color: yellow;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
  
aside>section {
    border: 2px solid blue;
    color: blue;
    padding: 10px;
    height: 100px;
}
  
footer {
    border: 2px solid green;
    color: green;
    padding: 10px;
} 