* {
    margin: 0;
    box-sizing: border-box;
}
  
body {
    height: 100vh;
    background-color: black;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: 55px 1fr auto;
    gap: 7px;
    padding: 7px;
    font-size: 12px;
}
  
header {
    border: 2px solid green;
    color: green;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}
  
nav {
    width: 70%;
    border: 2px solid yellow;
    color: yellow;
    padding: 7px;
    align-self: center;
}
  
main {
    border: 2px solid green;
    color: green;
    padding: 7px;
    display: grid;
    grid-template-columns: 1fr 25%;
    gap: 7px;
}
  
.main-content {
    display: grid;
    grid-template-rows: 20px auto 100px;
    gap: 7px;
}
  
section {
    border: 2px solid yellow;
    color: yellow;
    padding: 7px;
}
  
article {
    border: 2px solid blue;
    color: blue;
    padding: 7px;
    height: 70px;
    margin-top: 5px;
}
  
aside {
    border: 2px solid yellow;
    color: yellow;
    padding: 7px;
    display: flex;
    flex-direction: column;
    gap: 7px;
}
  
.aside-content > section {
    border: 2px solid blue;
    color: blue;
    height: 100px;
    padding: 7px;
    margin-top: 5px;
}
  
footer {
    border: 2px solid green;
    color: green;
    padding: 7px;
} 

@media (max-width: 680px) {
    main {
        grid-template-columns: 1fr;
    }

    .aside-content {
        display: flex;
        flex-direction: row;
        overflow: auto;
    }

    .aside-content > section {
        min-width: 100px;
        white-space: nowrap;
        margin-right: 5px;
        flex-shrink: 0;
    }
}