* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: black;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 7px;
    font-size: 12px; 
}

header {
    border: 2px solid green;
    color: green;
    padding: 7px;
    display: flex;
    justify-content: space-between;
}

nav {
    border: 2px solid yellow;
    color: yellow;
    width: 70%;
    padding: 7px;
    align-self: center;
}

main {
    border: 2px solid green;
    color: green;
    padding: 7px;
    display: flex;
    gap: 7px;
}

.main-content {
    flex: 3;
}

section {
    border: 2px solid yellow;
    color: yellow;
    padding: 7px;
    margin-top: 5px;
}

.extra-section {
    height: 75px;
}

article {
    border: 2px solid blue;
    color: blue;
    height: 70px;
    padding: 7px;
    margin-top: 5px;
}

aside {
    border: 2px solid yellow;
    color: yellow;
    flex: 1;
    padding: 7px;
}

.aside-content > section {
    border: 2px solid blue;
    color: blue;
    height: 100px;
    padding: 7px;
    margin-top: 5px;
}

footer {
    border: 2px solid green;
    color: green;
    padding: 7px;
}

@media (max-width: 680px) {
    main {
      flex-direction: column;
    }
  
    .aside-content {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
    }
  
    .aside-content > section {
        min-width: 120px;
        white-space: nowrap;
        margin-right: 5px;
        flex-shrink: 0;
    }
      
    .main-content {
        flex: 1; 
        min-width: 100%; 
    }
}